[config]
moduledirs = [ "modules"] # search pathes relative to position of the config file
destdir = 'exconf'
provides = [ "x86"] # pseudo modules and so on that are assumed as available
requires = [ 'a.h', 'bochs.rc', "Makefile" ]
modules = [ 'modb', 'moda', 'modc', 'reg1', 'reg2', 'reg3', 'print_reg'] # all modules that define this configuration

[config.vars]
examplevar = "-Dfoobar"
mythos_root = "../mythos/"
